<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Blog</title>
    </head>
    <body>
        <h2>your article is published!</h2>
        <div><a href="/articles/index?executor_id=<%= @executor_id %>">back to articles</a></div>
    </body>
</html>